
form {
	padding: 50px 20px;
	margin-left: 30%;
	margin-right: 30%;
	margin-top: 0px;
}

.login{
	text-align: center;
	padding: 12px;
	color: rgb(206, 203, 203)
}
input {
	width: calc(100% - 20px);
	padding: 9px;
	margin: auto;
	margin-top: 12px;
	font-size: 16px
}

.menError {
	text-align: center;
	width: 100%;
	padding: 12px;
	background-color: #a22;
	color: #fff
}
.blanco{
 color: white;
 text-align: center;
}
.caja{
	background-color: #5DADE2 ;
	padding: 20px 20px 20px 20px;
}

.titulo{
	color: #4D5656;
	font-size: 100px;
	text-shadow: 4px 4px 2px rgba(150, 150, 150, 1) ;
}
